<a href="https://colab.research.google.com/github/Swapn2/Data-Science-Learnings/blob/main/Merging_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd

In [4]:
courses = pd.read_csv('/content/courses.csv')
students = pd.read_csv('/content/students.csv')
nov = pd.read_csv('/content/reg-month1.csv')
dec = pd.read_csv('/content/reg-month2.csv')
matches = pd.read_csv('/content/matches.csv')
delivery = pd.read_csv('/content/deliveries.csv')

In [5]:
courses.head(2)

   course_id course_name  price
0          1      python   2499
1          2         sql   3499

In [6]:
students.head(2)

   student_id           name  partner
0           1  Kailash Harjo       23
1           2    Esha Butala        1

In [7]:
nov.head(2)

   student_id  course_id
0          23          1
1          15          5

In [8]:
dec.head(2)

   student_id  course_id
0           3          5
1          16          7

In [9]:
matches.head(2)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN

In [10]:
delivery.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN

In [11]:
# pd.concat
reg = pd.concat([nov,dec],ignore_index=True)

In [12]:
# multiindex dataframe
multi = pd.concat([nov,dec],keys=['Nov','Dec'])

In [13]:
multi.loc['Nov']

    student_id  course_id
0           23          1
1           15          5
2           18          6
3           23          4
4           16          9
5           18          1
6            1          1
7            7          8
8           22          3
9           15          1
10          19          4
11           1          6
12           7         10
13          11          7
14          13          3
15          24          4
16          21          1
17          16          5
18          23          3
19          17          7
20          23          6
21          25          1
22          19          2
23          25         10
24           3          3

In [14]:
multi.loc[('Nov',3)]

student_id    23
course_id      4
Name: (Nov, 3), dtype: int64

In [15]:
multi.loc[('Dec',4)]

student_id    14
course_id      9
Name: (Dec, 4), dtype: int64

In [16]:
# multiindex dataframe
multi = pd.concat([nov,dec],keys=['Nov','Dec'],axis = 1)

In [17]:
multi

          Nov                  Dec
   student_id course_id student_id course_id
0        23.0       1.0          3         5
1        15.0       5.0         16         7
2        18.0       6.0         12        10
3        23.0       4.0         12         1
4        16.0       9.0         14         9
5        18.0       1.0          7         7
6         1.0       1.0          7         2
7         7.0       8.0         16         3
8        22.0       3.0         17        10
9        15.0       1.0         11         8
10       19.0       4.0         14         6
11        1.0       6.0         12         5
12        7.0      10.0         12         7
13       11.0       7.0         18         8
14       13.0       3.0          1        10
15       24.0       4.0          1         9
16       21.0       1.0          2         5
17       16.0       5.0          7         6
18       23.0       3.0         22         5
19       17.0       7.0         22         6
20       23.0       6.0         23         9
21       25.0       1.0         23         5
22       19.0       2.0         14         4
23       25.0      10.0         14         1
24        3.0       3.0         11        10
25        NaN       NaN         42         9
26        NaN       NaN         50         8
27        NaN       NaN         38         1

In [18]:
# inner join
inner_join = students.merge(reg,how='inner',on='student_id')
inner_join

    student_id                name  partner  course_id
0            1       Kailash Harjo       23          1
1            1       Kailash Harjo       23          6
2            1       Kailash Harjo       23         10
3            1       Kailash Harjo       23          9
4            2         Esha Butala        1          5
5            3      Parveen Bhalla        3          3
6            3      Parveen Bhalla        3          5
7            7        Tarun Thaker        9          8
8            7        Tarun Thaker        9         10
9            7        Tarun Thaker        9          7
10           7        Tarun Thaker        9          2
11           7        Tarun Thaker        9          6
12          11  David Mukhopadhyay       20          7
13          11  David Mukhopadhyay       20          8
14          11  David Mukhopadhyay       20         10
15          12          Radha Dutt       19         10
16          12          Radha Dutt       19          1
17          12          Radha Dutt       19          5
18          12          Radha Dutt       19          7
19          13      Munni Varghese       24          3
20          14    Pranab Natarajan       22          9
21          14    Pranab Natarajan       22          6
22          14    Pranab Natarajan       22          4
23          14    Pranab Natarajan       22          1
24          15           Preet Sha       16          5
25          15           Preet Sha       16          1
26          16        Elias Dodiya       25          9
27          16        Elias Dodiya       25          5
28          16        Elias Dodiya       25          7
29          16        Elias Dodiya       25          3
30          17        Yasmin Palan        7          7
31          17        Yasmin Palan        7         10
32          18     Fardeen Mahabir       13          6
33          18     Fardeen Mahabir       13          1
34          18     Fardeen Mahabir       13          8
35          19        Qabeel Raman       12          4
36          19        Qabeel Raman       12          2
37          21          Seema Kota       15          1
38          22          Yash Sethi       21          3
39          22          Yash Sethi       21          5
40          22          Yash Sethi       21          6
41          23      Chhavi Lachman       18          1
42          23      Chhavi Lachman       18          4
43          23      Chhavi Lachman       18          3
44          23      Chhavi Lachman       18          6
45          23      Chhavi Lachman       18          9
46          23      Chhavi Lachman       18          5
47          24        Radhika Suri       17          4
48          25     Shashank DAlia        2          1
49          25     Shashank DAlia        2         10

In [19]:
# left join
courses.merge(inner_join,how = 'left',on='course_id')

,course_id,course_name,price,student_id,name,partner
0,1,python,2499,1.0,Kailash Harjo,23.0
1,1,python,2499,12.0,Radha Dutt,19.0
2,1,python,2499,14.0,Pranab Natarajan,22.0
3,1,python,2499,15.0,Preet Sha,16.0
4,1,python,2499,18.0,Fardeen Mahabir,13.0
5,1,python,2499,21.0,Seema Kota,15.0
6,1,python,2499,23.0,Chhavi Lachman,18.0
7,1,python,2499,25.0,Shashank DAlia,2.0
8,2,sql,3499,7.0,Tarun Thaker,9.0
9,2,sql,3499,19.0,Qabeel Raman,12.0
10,3,data analysis,4999,3.0,Parveen Bhalla,3.0
11,3,data analysis,4999,13.0,Munni Varghese,24.0
12,3,data analysis,4999,16.0,Elias Dodiya,25.0
13,3,data analysis,4999,22.0,Yash Sethi,21.0
14,3,data analysis,4999,23.0,Chhavi Lachman,18.0
15,4,machine learning,9999,14.0,Pranab Natarajan,22.0
16,4,machine learning,9999,19.0,Qabeel Raman,12.0
17,4,machine learning,9999,23.0,Chhavi Lachman,18.0
18,4,machine learning,9999,24.0,Radhika Suri,17.0
19,5,tableau,2499,2.0,Esha Butala,1.0
20,5,tableau,2499,3.0,Parveen Bhalla,3.0
21,5,tableau,2499,12.0,Radha Dutt,19.0
22,5,tableau,2499,15.0,Preet Sha,16.0
23,5,tableau,2499,16.0,Elias Dodiya,25.0
24,5,tableau,2499,22.0,Yash Sethi,21.0
25,5,tableau,2499,23.0,Chhavi Lachman,18.0
26,6,power bi,1899,1.0,Kailash Harjo,23.0
27,6,power bi,1899,7.0,Tarun Thaker,9.0
28,6,power bi,1899,14.0,Pranab Natarajan,22.0
29,6,power bi,1899,18.0,Fardeen Mahabir,13.0
30,6,power bi,1899,22.0,Yash Sethi,21.0
31,6,power bi,1899,23.0,Chhavi Lachman,18.0
32,7,ms sxcel,1599,7.0,Tarun Thaker,9.0
33,7,ms sxcel,1599,11.0,David Mukhopadhyay,20.0
34,7,ms sxcel,1599,12.0,Radha Dutt,19.0
35,7,ms sxcel,1599,16.0,Elias Dodiya,25.0
36,7,ms sxcel,1599,17.0,Yasmin Palan,7.0
37,8,pandas,1099,7.0,Tarun Thaker,9.0
38,8,pandas,1099,11.0,David Mukhopadhyay,20.0
39,8,pandas,1099,18.0,Fardeen Mahabir,13.0
40,9,plotly,699,1.0,Kailash Harjo,23.0
41,9,plotly,699,14.0,Pranab Natarajan,22.0
42,9,plotly,699,16.0,Elias Dodiya,25.0
43,9,plotly,699,23.0,Chhavi Lachman,18.0
44,10,pyspark,2499,1.0,Kailash Harjo,23.0
45,10,pyspark,2499,7.0,Tarun Thaker,9.0
46,10,pyspark,2499,11.0,David Mukhopadhyay,20.0
47,10,pyspark,2499,12.0,Radha Dutt,19.0
48,10,pyspark,2499,17.0,Yasmin Palan,7.0
49,10,pyspark,2499,25.0,Shashank DAlia,2.0
50,11,Numpy,699,NaN,NaN,NaN
51,12,C++,1299,NaN,NaN,NaN

In [20]:
# right join
courses.merge(reg,how = 'right',on='course_id')

    course_id       course_name  price  student_id
0           1            python   2499          23
1           5           tableau   2499          15
2           6          power bi   1899          18
3           4  machine learning   9999          23
4           9            plotly    699          16
5           1            python   2499          18
6           1            python   2499           1
7           8            pandas   1099           7
8           3     data analysis   4999          22
9           1            python   2499          15
10          4  machine learning   9999          19
11          6          power bi   1899           1
12         10           pyspark   2499           7
13          7          ms sxcel   1599          11
14          3     data analysis   4999          13
15          4  machine learning   9999          24
16          1            python   2499          21
17          5           tableau   2499          16
18          3     data analysis   4999          23
19          7          ms sxcel   1599          17
20          6          power bi   1899          23
21          1            python   2499          25
22          2               sql   3499          19
23         10           pyspark   2499          25
24          3     data analysis   4999           3
25          5           tableau   2499           3
26          7          ms sxcel   1599          16
27         10           pyspark   2499          12
28          1            python   2499          12
29          9            plotly    699          14
30          7          ms sxcel   1599           7
31          2               sql   3499           7
32          3     data analysis   4999          16
33         10           pyspark   2499          17
34          8            pandas   1099          11
35          6          power bi   1899          14
36          5           tableau   2499          12
37          7          ms sxcel   1599          12
38          8            pandas   1099          18
39         10           pyspark   2499           1
40          9            plotly    699           1
41          5           tableau   2499           2
42          6          power bi   1899           7
43          5           tableau   2499          22
44          6          power bi   1899          22
45          9            plotly    699          23
46          5           tableau   2499          23
47          4  machine learning   9999          14
48          1            python   2499          14
49         10           pyspark   2499          11
50          9            plotly    699          42
51          8            pandas   1099          50
52          1            python   2499          38

In [21]:
# outer join
students.merge(reg,how='outer',on='student_id')

    student_id                name  partner  course_id
0            1       Kailash Harjo     23.0        1.0
1            1       Kailash Harjo     23.0        6.0
2            1       Kailash Harjo     23.0       10.0
3            1       Kailash Harjo     23.0        9.0
4            2         Esha Butala      1.0        5.0
5            3      Parveen Bhalla      3.0        3.0
6            3      Parveen Bhalla      3.0        5.0
7            4         Marlo Dugal     14.0        NaN
8            5         Kusum Bahri      6.0        NaN
9            6  Lakshmi Contractor     10.0        NaN
10           7        Tarun Thaker      9.0        8.0
11           7        Tarun Thaker      9.0       10.0
12           7        Tarun Thaker      9.0        7.0
13           7        Tarun Thaker      9.0        2.0
14           7        Tarun Thaker      9.0        6.0
15           8      Radheshyam Dey      5.0        NaN
16           9   Nitika Chatterjee      4.0        NaN
17          10      Aayushman Sant      8.0        NaN
18          11  David Mukhopadhyay     20.0        7.0
19          11  David Mukhopadhyay     20.0        8.0
20          11  David Mukhopadhyay     20.0       10.0
21          12          Radha Dutt     19.0       10.0
22          12          Radha Dutt     19.0        1.0
23          12          Radha Dutt     19.0        5.0
24          12          Radha Dutt     19.0        7.0
25          13      Munni Varghese     24.0        3.0
26          14    Pranab Natarajan     22.0        9.0
27          14    Pranab Natarajan     22.0        6.0
28          14    Pranab Natarajan     22.0        4.0
29          14    Pranab Natarajan     22.0        1.0
30          15           Preet Sha     16.0        5.0
31          15           Preet Sha     16.0        1.0
32          16        Elias Dodiya     25.0        9.0
33          16        Elias Dodiya     25.0        5.0
34          16        Elias Dodiya     25.0        7.0
35          16        Elias Dodiya     25.0        3.0
36          17        Yasmin Palan      7.0        7.0
37          17        Yasmin Palan      7.0       10.0
38          18     Fardeen Mahabir     13.0        6.0
39          18     Fardeen Mahabir     13.0        1.0
40          18     Fardeen Mahabir     13.0        8.0
41          19        Qabeel Raman     12.0        4.0
42          19        Qabeel Raman     12.0        2.0
43          20       Hanuman Hegde     11.0        NaN
44          21          Seema Kota     15.0        1.0
45          22          Yash Sethi     21.0        3.0
46          22          Yash Sethi     21.0        5.0
47          22          Yash Sethi     21.0        6.0
48          23      Chhavi Lachman     18.0        1.0
49          23      Chhavi Lachman     18.0        4.0
50          23      Chhavi Lachman     18.0        3.0
51          23      Chhavi Lachman     18.0        6.0
52          23      Chhavi Lachman     18.0        9.0
53          23      Chhavi Lachman     18.0        5.0
54          24        Radhika Suri     17.0        4.0
55          25     Shashank DAlia      2.0        1.0
56          25     Shashank DAlia      2.0       10.0
57          38                 NaN      NaN        1.0
58          42                 NaN      NaN        9.0
59          50                 NaN      NaN        8.0

In [25]:
# find the total revenue genrated
courses.merge(reg,how = 'inner',on='course_id')['price'].sum()

np.int64(154247)

In [26]:
# find month by month revenue
temp = pd.concat([nov,dec],keys=['Nov','Dec']).reset_index()

In [29]:
temp.merge(courses,on='course_id').groupby('level_0')['price'].sum()

level_0
Dec    65072
Nov    89175
Name: price, dtype: int64