<a href="https://colab.research.google.com/github/Swapn2/Data-Science-Learnings/blob/main/panda_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### What is Pandas

Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

https://pandas.pydata.org/about/index.html

### Pandas Series

A Pandas Series is like a column in a table. It is a 1-D array holding data of any type.

In [3]:
import pandas as pd
import numpy as np

## series from the list

In [5]:
country = ['India',"pakistan",'srilanka','Nepal','japan']
pd.Series(country)

0       India
1    pakistan
2    srilanka
3       Nepal
4       japan
dtype: object

In [23]:
# integer
runs = [13,52,85,56,32,]
run_series = pd.Series(runs)

In [9]:
# custom index
marks = [13,52,85,56]
subject = ['hindi','english','maths','science']

pd.Series(marks,index=subject)

hindi      13
english    52
maths      85
science    56
dtype: int64

In [12]:
# setting name
# custom index
marks = [13,52,85,56]
subject = ['hindi','english','maths','science']

my_marks = pd.Series(marks,index=subject,name = 'Marks')

In [13]:
my_marks

hindi      13
english    52
maths      85
science    56
Name: Marks, dtype: int64

## series from the dictionary

In [15]:
marks = {'maths':65,
         'hindi':34,
         'science':35,
         'english':96
         }
marks_series = pd.Series(marks,name = 'Marks')
marks_series

maths      65
hindi      34
science    35
english    96
Name: Marks, dtype: int64

## serise attribute

In [17]:
# size

marks_series.size

4

In [18]:
# dtype
marks_series.dtype

dtype('int64')

In [19]:
#name
marks_series.name

'Marks'

In [20]:
# is_unique
marks_series.is_unique

True

In [21]:
marks_series.index

Index(['maths', 'hindi', 'science', 'english'], dtype='object')

In [24]:
run_series.index

RangeIndex(start=0, stop=5, step=1)

In [26]:
# values
marks_series.values

array([65, 34, 35, 96])

In [27]:
# values
type(marks_series.values)

numpy.ndarray

## series using read_csv

In [28]:
pd.read_csv('/content/subs.csv')

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [29]:
type(pd.read_csv('/content/subs.csv'))

pandas.core.frame.DataFrame

In [39]:
df = pd.read_csv('/content/subs.csv')
subs = df.iloc[:,0]

In [40]:
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [41]:
type(subs)

pandas.core.series.Series

In [49]:
df = pd.read_csv('/content/kohli_ipl.csv',index_col='match_no')
kohli = df.iloc[:,:1]

In [50]:
kohli

          runs
match_no
1            1
2           23
3           13
4           12
5            1
...        ...
211          0
212         20
213         73
214         25
215          7

[215 rows x 1 columns]

In [51]:
df = pd.read_csv('/content/bollywood.csv',index_col='movie')
bollywood = df.iloc[:,:1]

In [52]:
bollywood

                                                  lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar
...                                                ...
Hum Tumhare Hain Sanam                  Shah Rukh Khan
Aankhen (2002 film)                   Amitabh Bachchan
Saathiya (film)                           Vivek Oberoi
Company (film)                              Ajay Devgn
Awara Paagal Deewana                      Akshay Kumar

[1500 rows x 1 columns]

## series methods

In [54]:
# head

subs.head()

0    1
1    2
2    3
3    4
4    5
Name: match_no, dtype: int64

In [57]:
subs.head(3)

0    1
1    2
2    3
Name: match_no, dtype: int64