<a href="https://colab.research.google.com/github/Swapn2/Data-Science-Learnings/blob/main/session2_operators_ifelse_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operators in python


1. Arithmetic Operators
2. Relation Operators
3. Logical Operators
4. Bitwise Operators
5. Assingment Operators
6. Membership Operators

In [7]:
# Arithmetic Operators
print(5//2)  # integer division
print(5**2) # power of operator

2
25

In [8]:
# Relational Operator
print(4>5)
print(4<5)
print(4>=4)
print(4<=4)
print(4==4)
print(4!=4)

False
True
True
True
True
False

In [15]:
# bitwise Operators
# bitwise AND
print(2 & 3)
# bitwise OR
print(2 | 3)
# bitwise XOR->
#   10   (binary for 2)
#âŠ• 11   (binary for 3)
#------
#   01   (binary result)

print(2 ^ 3 )
# bitwise Not
print(~2)
print(4 >>2 )

2
3
1
-3
1

In [20]:
a = 2
a += 1 # a = a + 2
print(a)

# a =+ 1 , dose not have any sense it beasically assing the +1 to a

3

In [24]:
# membership operator
# in / not in

print('D' in ' Delhi')
print('D' in ' delhi')
print(1 in [1,2,3,4,5])

True
False
True