<a href="https://colab.research.google.com/github/Swapn2/Data-Science-Learnings/blob/main/session3_strings_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [ ]:
curr_popu = 10000
for i in range(10,1,-1):
  print(i,curr_popu)
  curr_popu = curr_popu/1.1 # this 1.1 is coming the maths expression

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733

### Sequence sum

1/1! + 2/2! + 3/3! + ...

In [ ]:
n  = int(input('enter the number '))
result = 0
fact = 1
for i in range(1,n+1):
  fact = fact * i
  result = result + i/fact
print(result)

enter the number 2
2.0

Nested loops :

In [ ]:
# pattern 1
n = int(input('enter the number '))
for i in range (1,n+1):
  for j in range (1,i+1):
    print('*',end = " ")
  print()

enter the number 10
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

# Loop Control Statement

- Break
- Continue
- Pass

In [ ]:
# searching is real life example of break
# skip product can be the real life example of continue
for i in range (1,10):
  if i == 5:
    break
  print(i)

1
2
3
4

In [ ]:
# PASS
for i in range(1,10):
  pass

Strings are sequence of Characters

In Python specifically, strings are a sequence of Unicode Characters

- Creating Strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- Operations on Strings
- String Functions

In [ ]:
s = 'hello'
s = "hello"
# multi line string
s = '''hello'''
s = """hello"""
s = str('hello')
print(s)

hello

In [ ]:
# python got confused
its's raining'

In [ ]:
"its's raining outside "

"its's raining outside "

Accessing substrings from a string

In [ ]:
# positive indexing
s = 'Hello world'
print(s[5])

In [ ]:
# negative indexing
s = 'Hello world'
print(s[-1])

d

In [ ]:
# slicing
s = 'hello world'
print(s[0:5])
print(s[:])
print(s[0:6:2])
print(s[6:0:-1])

hello
hello world
hlo
w olle

editing and Deleting in string

In [ ]:
s = 'Hello World'
s[0] = 'h'
# this will raise error because it is immutabe

In [1]:
s = 'hello world'
del s
print(s)

NameError: name 's' is not defined

In [3]:
s = 'hello world'
del s[-1:-5:2]
print(s)
 # you are trying to change string by slicing which is not allowed because string is immutable

TypeError: 'str' object does not support item deletion

## Operations on Strings

- Arithmetic Operations
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

In [5]:
print('delhi'+' '+'mumbai')

delhi mumbai

In [7]:
print('delhi'*5)

delhidelhidelhidelhidelhi

In [8]:
print('*'*50)

**************************************************

In [9]:
'delhi' == 'mumbai'

False

In [10]:
'mumbai' > 'pune'
#strings are compared lexiographically

False

In [13]:
'Pune' > 'pune'
# ASCII value of P < ASCII value p

False

In [14]:
'Hello' and 'world'

'world'

In [15]:
'hello' or 'wolrld'
#  first string make it true is doesnt go futher to evaluate , it return answer on the basis of Hello

'hello'

In [16]:
'' and 'world'
# '' this is always false , while a string is always true

''

In [17]:
not ''

True

In [18]:
not 'hello'

False

In [19]:
for i in 'delhi':
  print('pune')

pune
pune
pune
pune
pune

In [20]:
'd' in 'delhi'

True