<a href="https://colab.research.google.com/github/Swapn2/Data-Science-Learnings/blob/main/session2_operators_ifelse_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operators in python


1. Arithmetic Operators
2. Relation Operators
3. Logical Operators
4. Bitwise Operators
5. Assingment Operators
6. Membership Operators

In [ ]:
# Arithmetic Operators
print(5//2)  # integer division
print(5**2) # power of operator

2
25

In [ ]:
# Relational Operator
print(4>5)
print(4<5)
print(4>=4)
print(4<=4)
print(4==4)
print(4!=4)

False
True
True
True
True
False

In [ ]:
# bitwise Operators
# bitwise AND
print(2 & 3)
# bitwise OR
print(2 | 3)
# bitwise XOR->
#   10   (binary for 2)
#âŠ• 11   (binary for 3)
#------
#   01   (binary result)

print(2 ^ 3 )
# bitwise Not
print(~2)
print(4 >>2 )

2
3
1
-3
1

In [ ]:
a = 2
a += 1 # a = a + 2
print(a)

# a =+ 1 , dose not have any sense it beasically assing the +1 to a

3

In [ ]:
# membership operator
# in / not in

print('D' in ' Delhi')
print('D' in ' delhi')
print(1 in [1,2,3,4,5])

True
False
True

In [ ]:
# print sum of digits of a number
number = int(input('enter the number'))
sum = 0
while number > 0 :
  digit = number % 10
  number = number // 10
  sum = sum + digit
print (sum)

enter the number5656
22

If-Else Python

In [ ]:
# swapngupta@gmail.com
# passsword -> @1234
email = input('enter email')
password = (input('password'))
if email == 'swapngupta@gmail.com' and password == '@1234' :
  print('sucessfully log in ')
elif email == 'swapngupta@gmail.com' and password != '@1234' :
  print('password is incorrect')
  password = input('enter password again')
  if password == '@1234' :
    print('sucessfully log in ')
  else :
    print('try again')
else :
  print('try again')

enter emailswapngupta@gmail.com
password23232
password is incorrect
enter password again@1234
sucessfully log in

In [33]:
# min of 3 number
a = int(input('enter first number'))
b = int(input('enter second number'))
c = int(input('enter third number'))
if a<b and a<c :
  print('smallest is :',a)
if(b<a and b<c) :
  print('smallest is :',b)
if(c<a and c<b) :
  print('smallest is :',c)

enter first number45
enter second number87
enter third number14
smallest is : 14

Module :
1. Maths
2. Keywords
3. Random
4. Datetime

In [35]:
# maths
import math
math.factorial(5)

120

In [37]:
#keyword
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [44]:
#random
import random
print(random.randint(1,100))

42

In [45]:
#datetime
import datetime
print(datetime.datetime.now())

2025-02-25 15:16:23.422715