<a href="https://colab.research.google.com/github/Swapn2/Data-Science-Learnings/blob/main/session5_set_tupple_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuples

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

- Ordered
- Unchangeble
- Allows duplicate

### Plan of attack

- Creating a Tuple
- Accessing items
- Editing items
- Adding items
- Deleting items
- Operations on Tuples
- Tuple Functions

### Creating Tuples

In [ ]:
#empty
t1 = ()
print(t1)
# create a tupple with single item
# t2 = (1)  this is not a tuple of single item
t2 = (1,)
print(type(t2))
# homo tuple
t5 = (1,2,3,4)
print(t5)
# hetro
t6 = (1,2,3,4.5,True,[1,2,3],'apple')
print(t6)
# tuple inside tuple
t7 = ((1,2,3),('a','b','c'),(True,False))
print(t7)
# using type conversion
t8 = tuple('hello')
print(t8)

()
<class 'tuple'>
(1, 2, 3, 4)
(1, 2, 3, 4.5, True, [1, 2, 3], 'apple')
((1, 2, 3), ('a', 'b', 'c'), (True, False))
('h', 'e', 'l', 'l', 'o')

### Accessing Items

- Indexing
- Slicing

In [ ]:
# indexing
print(t5)
print(t5[1])
print(t5[-1])

(1, 2, 3, 4)
2
4

In [ ]:
# slicing
print(t5[-3:-1])
print(t5[3:1:1])
print(t5[0:4])

(2, 3)
()
(1, 2, 3, 4)

### Operations on Tuples

In [ ]:
# + and *
t5 = (1,2,3,4)
t6 = (1,2,3,4)
print(t5+t6)
print(t5*5)

# membership operation
print(1 in t5)

# iteration
for i in t5:
    print(i)

(1, 2, 3, 4, 1, 2, 3, 4)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
True
1
2
3
4

### Tuple Functions

In [ ]:
# len/min/max/sum/sorted
print(len(t5))
print(min(t5))
print(max(t5))
print(sum(t5))
print(sorted(t5)) # this is give output as list
# count
t5.count(5)
t5.count(3)

4
1
4
10
[1, 2, 3, 4]

1

In [ ]:
# index
t5.index(3)

2

### Difference between Lists and Tuples

- Syntax
- Mutability
- Speed
- Memory
- Built in functionality
- Error prone
- Usability

In [ ]:
a = (1,2,3)
b = a

a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

### Special Syntax

In [ ]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [ ]:
a,b = (1,2,3)
print(a,b)

ValueError: too many values to unpack (expected 2)

In [ ]:
a =1
b = 2
a,b = b,a
print(a,b)

2 1

In [ ]:
a,b,*others = (1,2,3,4,5,6)
print(a,b,others)

1 2 [3, 4, 5, 6]

In [59]:
# zipping tupple
a = (1,2,3)
b = (4,5,6)
c = zip(a,b)
print(tuple(c))

((1, 4), (2, 5), (3, 6))

# Sets

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Characterstics:
- Unordered
- Mutable
- No Duplicates
- Can't contain mutable data types

In [60]:
# empty
s = {}
print(s)
print(type(s)) # it will show that it is a dict not set

{}
<class 'dict'>

In [65]:
# empty set
s = set()
print(s)
print(type(s))
# homo
s = {1,2,3,4}
print(s)
# hetro
s1 = {1,4.5,'Hello',True}
print(s1)
# using type conversion
s4 = set([1,2,3,4])
print(s4)
# unorderd
s1 = {1,2,3,4}
s2 = {4,3,2,1}
print(s1 == s2)

set()
<class 'set'>
{1, 2, 3, 4}
{1, 4.5, 'Hello'}
{1, 2, 3, 4}
True

### Accessing Items

In [67]:
s1 = {1,2,3,4,5}
s1[0]
# indexing will not work here because of unordered

TypeError: 'set' object is not subscriptable

### Adding Items

In [69]:
s = {1,2,3,4}
# add
s.add(5)
print(s)
# 5 will bee add according to the concept of hashing , you cant decide the position
# update

s.update([5,6,7])
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}

### Deleting Items

In [71]:
s = {1,2,3,4,5}
print(s)
del s
print(s)

{1, 2, 3, 4, 5}

NameError: name 's' is not defined

In [73]:
# discard
s = {1,2,3,4,5}
s.discard(3)
s.discard(30)
print(s)

{1, 2, 4, 5}

In [74]:
# remove
# discard
s = {1,2,3,4,5}
s.remove(3)
s.remove(30)
print(s)

KeyError: 30

In [79]:
# pop
s = {1,2,3,4,5}
s.pop()
print(s)

{2, 3, 4, 5}

In [80]:
# clear
s = {1,2,3,4,5}
s.clear()
print(s)

set()

### Set Operation

In [82]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# union (|)
print(s1 | s2)

# intersection (&)
print(s1 & s2)

# diffeence (-)
print(s1 - s2) # itens of s1 which are not in the s2
print(s2 - s1) # itens of s2 which are not in the s1

# symmetric difference
print(s1 ^ s2) # everything except common

# membership operator
1 not in s1

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}

False

### Set Functions

In [83]:
# len/min/max/sorted/sum
s1 = {1,2,3,4,5}
print(len(s1))
print(min(s1))
print(max(s1))
print(sorted(s1))
print(sum(s1))

5
1
5
[1, 2, 3, 4, 5]
15

In [85]:
# union/update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.union(s2)
print(s1)
s1.update(s2)
print(s1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

In [86]:
# intersection / intersection_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.intersection(s2)
print(s1)
s1.intersection_update(s2)
print(s1)

{1, 2, 3, 4, 5}
{4, 5}

In [87]:
# difference / difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.difference(s2)
print(s1)
s1.difference_update(s2)
print(s1)

{1, 2, 3, 4, 5}
{1, 2, 3}

In [88]:
# symmetric_difference / symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.symmetric_difference(s2)
print(s1)
s1.symmetric_difference_update(s2)
print(s1)

{1, 2, 3, 4, 5}
{1, 2, 3, 6, 7, 8}

In [ ]:
# isdisjoint / issubset/issuperset