<a href="https://colab.research.google.com/github/Swapn2/Data-Science-Learnings/blob/main/Task_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [ ]:
def unique(L):
  unique = list(set(L))
  return unique

L = list(map(int,input('enter the input :').split()))
print(L)
print(unique(L))

enter the input :1 2 3 3 3 4 5 5 6 4 0
[1, 2, 3, 3, 3, 4, 5, 5, 6, 4, 0]
[0, 1, 2, 3, 4, 5, 6]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [ ]:
# Write code here
def revert(s):
  L = sorted(s.split("-"))
  s1 = "-".join(L)
  return s1
s = input('enter the string with hypen: ')
print(revert(s))

enter the string with hypen: green-red-yellow-black-white
black-green-red-white-yellow

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [ ]:
# Write code here
def case_count(s):
  l_count= 0
  u_count= 0
  for char in s:
    if char.isupper():
      u_count +=1
    if char.islower():
      l_count += 1
  print('No. of upper case characters : ',u_count)
  print('No. of lower case characters : ',l_count)

s = input('enter the sting : ')
case_count(s)

enter the sting : Swapn Gupta Placed At TwentyFive Lakh Rupees Yearly
No. of upper case characters :  9
No. of lower case characters :  35

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [ ]:
# Write code here
def even_num(L):
   l = [i for i in L if i%2 == 0]
   return l

s = list(map(int,input('enter the list : ').split()))
print(even_num(s))

enter the list : 1 2 3 4 5 6 7 8 9
[2, 4, 6, 8]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [ ]:
# Write code here
def perfect(n):
  i = 1
  L = []
  sum = 0
  while i!= n+1:
    if(n%i == 0 ):
      L.append(i)
    i +=1
  for i in L:
    sum = sum + i
  if(sum == 2*n):
    print('this is a perfect nummber')

n = int(input('enter the number : '))
perfect(n)

enter the number : 14

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [ ]:
# Write code here

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [ ]:
# Write code here
def occurence(s):
  l = s.split()
  visited = []
  d = {}
  for i in range(0,len(l)):
    count = 1
    if(l[i] in visited):
      continue
    else:
      for j in range(i+1,len(l)):
        if (l[i] == l[j] and l[j] in visited):
          count += 1
        elif( l[i] == l[j] and l[j] not in visited):
          visited.append(l[i])
          count += 1
      d[l[i]] = count
  print(d)
  max_count = max(d.values())
  words = [(key,value) for key,value in d.items() if value == max_count]
  return words



s = input('enter the string')
print(occurence(s))

enter the stringapple banana apple orange banana orange
{'apple': 2, 'banana': 2, 'orange': 2}
[('apple', 2), ('banana', 2), ('orange', 2)]

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [ ]:
def histogram(l):
  max_val = max(l)
  min_val = min(l)
  d = {}
  lower_bin = min_val
  upper_bin = lower_bin +9
  while upper_bin <= max_val+10:
    count = 0
    for i in l:
      if(lower_bin <= i <= upper_bin):
        count += 1
      interval = '{}-{}'.format(lower_bin,upper_bin)
      d[interval] = count
    lower_bin = lower_bin+10
    upper_bin = lower_bin +9
  print(d)

s = list(map(int,input('enter the list : ').split()))
print(s)
histogram(s)

enter the list : 10 12 15 22 25 27 30 31 32 33 34 35 37 38 39 40 42 45 50 55 60 61 65
[10, 12, 15, 22, 25, 27, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 42, 45, 50, 55, 60, 61, 65]
{'10-19': 3, '20-29': 3, '30-39': 9, '40-49': 3, '50-59': 2, '60-69': 3}

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [ ]:
# Write code here
def shortest_distance(l):
  origin = (0,0)
  d = {}
  for i in range(len(l)):
    dist = ((l[i][0]*l[i][0]) + (l[i][1]*l[i][1]))**.5
    d[l[i]] = dist
  print(d)
  min_val = min(d.values())
  for key, value in d.items():
     if value == min_val:
      return key


l = list(map(int,input('enter the list : ').split()))
tuple_list = [(l[i],l[i+1]) for i in range(0,len(l),2)]
print(tuple_list)
print(shortest_distance(tuple_list))

enter the list :  1 1 2 2 3 3 4 4 5 5
[(1, 1), (2, 2), (3, 3), (4, 4), (5, 5)]
{(1, 1): 1.4142135623730951, (2, 2): 2.8284271247461903, (3, 3): 4.242640687119285, (4, 4): 5.656854249492381, (5, 5): 7.0710678118654755}
(1, 1)

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [ ]:
# Write code here
def bags_of_words(s):
  q = s.split()
  l = [word.lower() for word in q]
  visited = []
  d = {}
  for i in range(0,len(l)):
    count = 1
    if(l[i] in visited):
      continue
    else:
      for j in range(i+1,len(l)):
        if (l[i] == l[j] and l[j] in visited):
          count += 1
        elif( l[i] == l[j] and l[j] not in visited):
          visited.append(l[i])
          count += 1
      d[l[i]] = count
  print(d)

s = input('enter the string : ')
bags_of_words(s)

enter the string : Natural Language Processing (NLP) is a subfield of artificial intelligence. NLP helps machines understand human language. Many applications use NLP, such as chatbots, translation, and sentiment analysis. The field of NLP is growing rapidly
{'natural': 1, 'language': 1, 'processing': 1, '(nlp)': 1, 'is': 2, 'a': 1, 'subfield': 1, 'of': 2, 'artificial': 1, 'intelligence.': 1, 'nlp': 2, 'helps': 1, 'machines': 1, 'understand': 1, 'human': 1, 'language.': 1, 'many': 1, 'applications': 1, 'use': 1, 'nlp,': 1, 'such': 1, 'as': 1, 'chatbots,': 1, 'translation,': 1, 'and': 1, 'sentiment': 1, 'analysis.': 1, 'the': 1, 'field': 1, 'growing': 1, 'rapidly': 1}

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [ ]:
# Write code here
l1 = [1,2,3]
l2 = [4,5,3]
l3 = [7,6,5]

print(list(map(lambda x:x , l1+l2+l3)))
print(list(set(map(lambda x:x , l1+l2+l3))))
print(list(map(lambda x,y,z : x+y+z , l1,l2,l3)))

[1, 2, 3, 4, 5, 3, 7, 6, 5]
[1, 2, 3, 4, 5, 6, 7]
[12, 13, 11]

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [ ]:
# Write code here
l = [1,2,3,4,5,6]
list(map(lambda x,i : (l[i]**l[i-1]) , l,range(len(l))))

[1, 2, 9, 64, 625, 7776]

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [6]:
# Given string
text = "Hello World! This is a Python Program."

# Using filter to extract vowels
vowels = list(filter(lambda ch: ch.lower() in 'aeiou', text))

# Print the result
print(vowels)

['e', 'o', 'o', 'i', 'i', 'a', 'o', 'o', 'a']

`Problem-14`: Use reduce to convert a 2D list to 1D

In [5]:
from functools import reduce

# Given 2D list
list2D = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

# Using reduce, map, and lambda to flatten the list
flattened_list = reduce(lambda x, y: x + y, map(lambda x: x, list2D))

# Print the result
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [ ]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [ ]:
list(map(lambda x:x['fname'] + ' ' + x['lname'],list(filter(lambda x:True if x['grade'] == 'highly-skilled' else False,employees))))

['Neha Singh', 'Abhinav Sharma']