<a href="https://colab.research.google.com/github/Swapn2/Data-Science-Learnings/blob/main/task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [ ]:
salary = int(input('enter the in hand salary in lakh '))
HRA_deduction = salary * .1
DA_deduction = salary * .05
PF_deduction = salary * .03
print("HRA_deduction",HRA_deduction)
print("DA_deduction",DA_deduction)
print("PF_deduction",PF_deduction)

if salary < 5:
  tax = 0
  print("Tax",tax)
  print("final salary",salary-HRA_deduction-DA_deduction-PF_deduction-tax)
elif salary >= 5 and salary <= 10:
  tax = salary * .1
  print("Tax",tax)
  print("final salary",salary-HRA_deduction-DA_deduction-PF_deduction-tax)
elif salary >= 10 and salary <= 20:
  tax = salary * .2
  print("Tax",tax)
  print("final salary",salary-HRA_deduction-DA_deduction-PF_deduction-tax)
else:
  tax = salary * .3
  print("Tax",tax)
  print("final salary",salary-HRA_deduction-DA_deduction-PF_deduction-tax)

enter the in hand salary in lakh 12
HRA_deduction 1.2000000000000002
DA_deduction 0.6000000000000001
PF_deduction 0.36
Tax 2.4000000000000004
final salary 7.440000000000001

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
angle_1 = int(input('enter the first angle '))
angle_2 = int(input('enter the second angle '))
angle_3 = int(input('enter the third angle '))

sum = angle_1 + angle_2 + angle_3

if sum == 180:
  print("it can form a triangle")
else:
  print("it can not form a triangle")

enter the first angle 50
enter the second angle 50
enter the third angle 80
it can form a triangle

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
CP = int(input('enter the cost price'))
SP = int(input('enter the selling price'))

if SP > CP:
  print("Profit",SP-CP)
elif SP < CP:
  print("Loss",CP-SP)

enter the cost price100
enter the selling price120
Profit 20

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
task = int(input("""
enter the task choice
1. cm to ft
2. km to miles
3. USD to INR
4.exit
"""))
if task == 1:
  cm = int(input('enter the cm '))
  ft = cm * .0328
  print("ft",ft)
elif task == 2:
  km = int(input('enter the km '))
  miles = km * .62137
  print("miles",miles)
elif task == 3:
  usd = int(input('enter the usd '))
  inr = usd * 75
  print("inr",inr)
else:
  print("exit")

enter the task choice
1. cm to ft
2. km to miles
3. USD to INR
4.exit
1
enter the cm 122
ft 4.001600000000001

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
a = 0
b = 1

for i in range (1,10):
  c = a+b
  print(c)
  a = b
  b = c

1
2
3
5
8
13
21
34
55

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [ ]:
n = int(input('Enter the number '))
fact = 1
for i in range (1,n):
  fact = fact *(i+1)
print(fact)

Enter the number 5
120

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
number = int(input('enter the number '))
counter = 0
sum = 0
while number > 0:
  digit = number % 10
  number = number // 10
  counter += 1
  print(digit,end="")

enter the number 24567
76542

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
def find_sum(n, current_sum=0):
    if n == 0 or current_sum > 300:
        return current_sum

    if n % 5 == 0:
        return find_sum(n - 1, current_sum)

    return find_sum(n - 1, current_sum + n)

N = int(input("Enter an integer N: "))
result = find_sum(N)
print("Final Sum:", result)

Enter an integer N: 30
Final Sum: 309

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
sum = count = 0
i = 1

while i != 0:
  i = int(input('enter the number '))
  sum = sum + i
  count += 1
print(sum/(count-1))

enter the number 10
enter the number 20
enter the number 30
enter the number 40
enter the number 0
25.0

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
i = 2000
while i <= 3200:
  if i % 7 == 0 and i % 5 != 0:
    print(i,end=",")
  i += 1

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [7]:
for i in range(1000,3000):
  n = i
  while i > 0 :
    digit = i % 10
    if digit % 2 != 0:
      break
    else:
      i = i // 10
      if i == 0:
  	    print(n,end=" ")

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [10]:
up = int(input('enter the up distance '))
down = int(input('enter the down distance '))
left = int(input('enter the left distance '))
right = int(input('enter the right distance '))
distance = ((up-down)**2 + (left-right)**2)**.5
print(int(distance))

enter the up distance 5
enter the down distance 3
enter the left distance 3
enter the right distance 2
2