<a href="https://colab.research.google.com/github/Swapn2/Data-Science-Learnings/blob/main/Task_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [ ]:
# write your code here
L = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
d = []
visited = set()
for i in range(len(L)):
  if L[i][0] in visited:
    continue
  new_tuple = L[i]
  for j in range(i+1,len(L)):
    if(L[i][0] == L[j][0]):
      new_tuple = new_tuple + L[j][1:]
  d.append(new_tuple)
  visited.add(L[i][0])

print(d)

[(5, 6, 7, 8), (6, 10), (7, 13)]

In [ ]:
 # write your code here
L = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
#L = L = [(5, 6, 9), (5, 7, 11), (5, 8, 12), (6, 10, 15), (7, 13, 20)]
d = {}

for i in L:
  key = i[0]
  value = i[1:]
  if key in d:
    d[key] = d[key] + value
    #print(d[key],'8')
  else:
    d[key] = i

print(list(d.values()))

[(5, 6, 7, 8), (6, 10), (7, 13)]

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [ ]:
# write your code here
L = (1, 5, 7, 8, 10)
tup = ()
for i in range(len(L)):
  if i == 0:
    sum = (L[i]*L[i+1])
    tup = tup + (sum,)
  elif(i == len(L)-1):
    sum = (L[i]*L[i-1])
    tup = tup + (sum,)
  else:
    sum = (L[i]*L[i+1]) + (L[i]*L[i-1])
    tup = tup + (sum,)


print(tup)

(5, 40, 91, 136, 80)

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [ ]:
# write your code here
t1 = (1,2,3,0)
t2 = (0,1,2,3)

for i in t1:
  if  i in t2:
    flag = True
  else:
    flag = False

if flag == True:
  print('same')

same

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [ ]:
# write your code here
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
list_count = 0
set_count = 0
tuple_count = 0
for i in list1:
  if(type(i) == list):
    list_count = list_count + 1
  elif(type(i) == set):
    set_count = set_count + 1
  else:
    tuple_count = tuple_count + 1

print('list-',list_count)
print('tuple - ',tuple_count)
print('set-',set_count)

list- 2
tuple -  1
set- 2

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [ ]:
# write your code here
students = []
# enter the job requiement
print("enter job role requirement ")
primary_skill = input("enter the skill ")
education = input("enter the higher education ")
graduation_year = input("enter the year of graduation ")

n = int(input('enter the number of records'))

for i in range(n):
  print("enter the details of student : ",i+1)
  name = input("enter the name of student ")
  education = input("enter the higher education ")
  primary_skill = input("enter the skill ")
  graduation_year = input("enter the year of graduation ")

  student_tuple = (name,primary_skill,education,graduation_year)
  students.append(student_tuple)

print(students)
flag = False

for i in range(len(students)):
  if(students[i][1] == primary_skill and students[i][2] == education and students[i][3] == graduation_year):
    print('selected candidate',students[i])
    flag = True

if flag == False:
  print('no candidate ')

enter job role requirement
enter the skill python
enter the higher education 23026
enter the year of graduation 2026
enter the number of records1
enter the details of student :  1
enter the name of student swapn
enter the higher education 23026
enter the skill python
enter the year of graduation 2026
[('swapn', 'python', '23026', '2026')]
('swapn', 'python', '23026', '2026')

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [ ]:
# write your code here
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

ar1 = set(ar1)
ar2 = set(ar2)
ar3 = set(ar3)

new_set = ar1.intersection(ar2,ar3)

print(list(new_set))

[80, 20]

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [ ]:
# write your code here
str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
str1 = set(str1)
print(str1)
vowels = 0
for i in str1:
  if (i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u' or i == 'A' or i == 'E' or i == 'I' or i == 'O' or i == 'U'):
    vowels = vowels +1
print('No of unique vowels-',vowels)

{'t', 'g', 'i', 'd', 'm', 'r', 'v', 'a', 'A', 'e', 'o', 'n', 'h', 'l', ' ', 'c', 'X', 'w', 's', 'f', 'b', '-', 'C', 'p', 'y', 'u'}
No of unique vowels- 6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [ ]:
# write your code here

str1 = input('enter the string ')

if str1.isnumeric():
  print('Yes')
else:

  print('no')

enter the string 465
Yes

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [ ]:
row = int(input('enter the number of rows '))

matrix = []
union = set()
for _ in range(row):
  row = list(map(int ,input('enter the list : ').split()))
  matrix.append(row)

# print(matrix)

for i in matrix:
  union = union.union(i)

print(list(union))

enter the number of rows 4
enter the list : 1 2 2 4 3 6
enter the list : 5 1 3 4
enter the list : 9 5 7 1
enter the list : 7 4 1 3
[[1, 2, 2, 4, 3, 6], [5, 1, 3, 4], [9, 5, 7, 1], [7, 4, 1, 3]]
{1, 2, 3, 4, 5, 6, 7, 9}

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [ ]:
a = set(map(int , input("Enter the set: ").split()))
b = set(map(int , input("Enter the set: ").split()))


# print(a)
# print(b)

new_set = a.intersection(b)
print(new_set)

Enter the set: 1 2 3 4
Enter the set: 5 4 1 2
{1, 2, 4}

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [ ]:
from urllib.parse import uses_query
n = int(input('enter the no. of key-value pairs'))
d = {}

for _ in range(n):
  key = input('enter the key ')
  value = list(map(int,input('enter the list').split()))
  d[key] = value
print(d)
max_value = 0
max_key = None
for key,value in d.items():  # to convert into set
  set_values = set(value)
  set_len = len(set_values)

  if(set_len > max_value):
    max_value = set_len
    max_key  = key
print(key)

enter the no. of key-value pairs3
enter the key swapn
enter the list5 7 7 7 7
enter the key is
enter the list6 7 7 7
enter the key best
enter the list 9 9 5 6 6
{'swapn': [5, 7, 7, 7, 7], 'is ': [6, 7, 7, 7], 'best ': [9, 9, 5, 6, 6]}
best

### `Q2`: Replace words from Dictionary. Given String, replace it’s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [ ]:
# write your code here

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [8]:
# write your code here
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
d = {}
L = []
for i in range(0,len(test_list),2):
  key1 = key_list[0]
  key2 = key_list[1]
  d[key1] = test_list[i]
  d[key2] = test_list[i+1]
  L.append(d)
print(L)

[{'name': 'is', 'id': 8}, {'name': 'is', 'id': 8}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [ ]:
# write your code here
n = int(input('enter the number of tuple pairs : '))
tup_list = []
for i in range(n):
  name,num = input('enter the name and number').split()
  tup_list.append((name,int(num)))
d = {}

for i in range(len(tup_list)):
  key = tup_list[i][0]
  value = [tup_list[i][1]]
  d[key] = value

print(d)

enter the number of tuple pairs : 1
enter the name and numbers 10
{'s': [10]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [ ]:
# write your code here

n = int(input('enter the number of key-value pair : '))
d = {}

for i in range(n):
  key = input('enter the key')
  value = list(map(int, input('enter the list : ').split()))
  d[key] = value

print(d)
d_sorted = {}
for key,value in d.items():
  sort_value = sorted(value)
  d_sorted[key] = sort_value

print(d_sorted)

enter the number of key-value pair : 3
enter the keyc
enter the list : 3
enter the keyb
enter the list : 12 10
enter the keya
enter the list : 19 4
{'c': [3], 'b ': [12, 10], 'a ': [19, 4]}
{'c': [3], 'b ': [10, 12], 'a ': [4, 19]}