<a href="https://colab.research.google.com/github/Swapn2/Data-Science-Learnings/blob/main/Time_series_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

## timedelta object

In [6]:
t1 = pd.Timestamp('14th may 2025')
t2 = pd.Timestamp('31 july 2025')

t2 - t1

Timedelta('78 days 00:00:00')

In [7]:
pd.Timedelta(days=2, hours = 10)

Timedelta('2 days 10:00:00')

In [8]:
pd.date_range(start = '2025/05/14',end = '2025/07/31',freq = "D") + pd.Timedelta(days = 2 )

DatetimeIndex(['2025-05-16', '2025-05-17', '2025-05-18', '2025-05-19',
               '2025-05-20', '2025-05-21', '2025-05-22', '2025-05-23',
               '2025-05-24', '2025-05-25', '2025-05-26', '2025-05-27',
               '2025-05-28', '2025-05-29', '2025-05-30', '2025-05-31',
               '2025-06-01', '2025-06-02', '2025-06-03', '2025-06-04',
               '2025-06-05', '2025-06-06', '2025-06-07', '2025-06-08',
               '2025-06-09', '2025-06-10', '2025-06-11', '2025-06-12',
               '2025-06-13', '2025-06-14', '2025-06-15', '2025-06-16',
               '2025-06-17', '2025-06-18', '2025-06-19', '2025-06-20',
               '2025-06-21', '2025-06-22', '2025-06-23', '2025-06-24',
               '2025-06-25', '2025-06-26', '2025-06-27', '2025-06-28',
               '2025-06-29', '2025-06-30', '2025-07-01', '2025-07-02',
               '2025-07-03', '2025-07-04', '2025-07-05', '2025-07-06',
               '2025-07-07', '2025-07-08', '2025-07-09', '2025-07-10',
               '2025-07-11', '2025-07-12', '2025-07-13', '2025-07-14',
               '2025-07-15', '2025-07-16', '2025-07-17', '2025-07-18',
               '2025-07-19', '2025-07-20', '2025-07-21', '2025-07-22',
               '2025-07-23', '2025-07-24', '2025-07-25', '2025-07-26',
               '2025-07-27', '2025-07-28', '2025-07-29', '2025-07-30',
               '2025-07-31', '2025-08-01', '2025-08-02'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df = pd.read_csv('/content/deliveries.csv')

In [10]:
df.head()

  order_date delivery_date
0    5/24/98        2/5/99
1    4/22/92        3/6/98
2    2/10/91       8/26/92
3    7/21/92      11/20/97
4     9/2/93       6/10/98

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_date     501 non-null    object
 1   delivery_date  501 non-null    object
dtypes: object(2)
memory usage: 8.0+ KB

In [12]:
df['order_date'] = pd.to_datetime(df['order_date'])
df['delivery_date'] = pd.to_datetime(df['delivery_date'])

<ipython-input-12-481df77f7c5d>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['order_date'] = pd.to_datetime(df['order_date'])
<ipython-input-12-481df77f7c5d>:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['delivery_date'] = pd.to_datetime(df['delivery_date'])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_date     501 non-null    datetime64[ns]
 1   delivery_date  501 non-null    datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 8.0 KB

In [14]:
df['days'] = df['delivery_date'] - df['order_date']

In [16]:
df['days'].mean()

Timedelta('1217 days 22:53:53.532934128')

In [17]:
google = pd.read_csv('/content/google.csv')
google.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2004-08-19  49.813290  51.835709  47.800831  49.982655  49.982655  44871361
1  2004-08-20  50.316402  54.336334  50.062355  53.952770  53.952770  22942874
2  2004-08-23  55.168217  56.528118  54.321388  54.495735  54.495735  18342897
3  2004-08-24  55.412300  55.591629  51.591621  52.239197  52.239197  15319808
4  2004-08-25  52.284027  53.798351  51.746044  52.802086  52.802086   9232276

In [18]:
google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4471 entries, 0 to 4470
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       4471 non-null   object
 1   Open       4471 non-null   float64
 2   High       4471 non-null   float64
 3   Low        4471 non-null   float64
 4   Close      4471 non-null   float64
 5   Adj Close  4471 non-null   float64
 6   Volume     4471 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 244.6+ KB

In [19]:
google['Date']= pd.to_datetime(google['Date'])

In [20]:
google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4471 entries, 0 to 4470
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       4471 non-null   datetime64[ns]
 1   Open       4471 non-null   float64
 2   High       4471 non-null   float64
 3   Low        4471 non-null   float64
 4   Close      4471 non-null   float64
 5   Adj Close  4471 non-null   float64
 6   Volume     4471 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 244.6 KB

In [21]:
google.set_index('Date',inplace = True)

In [22]:
google

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2004-08-19,49.813290,51.835709,47.800831,49.982655,49.982655,44871361
2004-08-20,50.316402,54.336334,50.062355,53.952770,53.952770,22942874
2004-08-23,55.168217,56.528118,54.321388,54.495735,54.495735,18342897
2004-08-24,55.412300,55.591629,51.591621,52.239197,52.239197,15319808
2004-08-25,52.284027,53.798351,51.746044,52.802086,52.802086,9232276
...,...,...,...,...,...,...
2022-05-16,2307.679932,2332.149902,2286.699951,2295.850098,2295.850098,1164100
2022-05-17,2344.550049,2344.550049,2306.750000,2334.030029,2334.030029,1078800
2022-05-18,2304.750000,2313.913086,2242.840088,2248.020020,2248.020020,1399100
2022-05-19,2236.820068,2271.750000,2209.360107,2214.909912,2214.909912,1459600
2022-05-20,2241.709961,2251.000000,2127.459961,2186.260010,2186.260010,1878100

In [24]:
# fetch a specific date
google.loc['2021-5-14']

Open         2.291830e+03
High         2.321140e+03
Low          2.283320e+03
Close        2.316160e+03
Adj Close    2.316160e+03
Volume       1.331200e+06
Name: 2021-05-14 00:00:00, dtype: float64

In [25]:
google.loc['2021-12']

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-12-01,2884.250000,2929.982910,2830.000000,2832.360107,2832.360107,1423800
2021-12-02,2836.479980,2893.500000,2819.639893,2875.530029,2875.530029,1062500
2021-12-03,2889.909912,2904.260010,2823.000000,2850.409912,2850.409912,1334400
2021-12-06,2871.479980,2887.030029,2812.939941,2875.929932,2875.929932,1109900
2021-12-07,2919.000000,2966.000000,2914.050049,2960.729980,2960.729980,1162900
2021-12-08,2966.629883,2983.129883,2944.000000,2974.409912,2974.409912,948200
2021-12-09,2963.520020,2992.100098,2950.580078,2962.120117,2962.120117,929000
2021-12-10,2982.000000,2988.000000,2947.149902,2973.500000,2973.500000,1081700
2021-12-13,2968.879883,2971.250000,2927.199951,2934.090088,2934.090088,1205200
2021-12-14,2895.399902,2908.840088,2844.850098,2899.409912,2899.409912,1238900
2021-12-15,2887.320068,2950.344971,2854.110107,2947.370117,2947.370117,1364000
2021-12-16,2961.540039,2971.030029,2881.850098,2896.770020,2896.770020,1370000
2021-12-17,2854.290039,2889.201904,2835.760010,2856.060059,2856.060059,2170200
2021-12-20,2813.592041,2852.209961,2805.000000,2848.030029,2848.030029,1013200
2021-12-21,2863.000000,2893.841064,2834.699951,2884.409912,2884.409912,977400
2021-12-22,2882.000000,2946.060059,2879.260010,2938.979980,2938.979980,921900
2021-12-23,2941.790039,2971.451904,2939.017090,2942.850098,2942.850098,690900
2021-12-27,2949.270020,2968.530029,2945.000000,2961.280029,2961.280029,662800
2021-12-28,2967.489990,2967.489990,2918.709961,2928.959961,2928.959961,931200
2021-12-29,2928.590088,2943.675049,2910.090088,2930.090088,2930.090088,851100
2021-12-30,2929.000000,2941.250000,2915.169922,2920.050049,2920.050049,648900
2021-12-31,2910.879883,2927.300049,2893.550049,2893.590088,2893.590088,864900

In [28]:
google['month'] = google.index.month_name()

In [29]:
google['day'] = google.index.day_name()

In [30]:
google.head()

,Open,High,Low,Close,Adj Close,Volume,month,day
Date,,,,,,,,
2004-08-19,49.813290,51.835709,47.800831,49.982655,49.982655,44871361,August,Thursday
2004-08-20,50.316402,54.336334,50.062355,53.952770,53.952770,22942874,August,Friday
2004-08-23,55.168217,56.528118,54.321388,54.495735,54.495735,18342897,August,Monday
2004-08-24,55.412300,55.591629,51.591621,52.239197,52.239197,15319808,August,Tuesday
2004-08-25,52.284027,53.798351,51.746044,52.802086,52.802086,9232276,August,Wednesday

In [31]:
google['quarter'] = google.index.quarter

In [32]:
google.loc['2021-5-12':'2021-7-15']

,Open,High,Low,Close,Adj Close,Volume,month,day,quarter
Date,,,,,,,,,
2021-05-12,2261.709961,2285.370117,2230.050049,2239.080078,2239.080078,1746700,May,Wednesday,2
2021-05-13,2261.090088,2276.601074,2242.719971,2261.969971,2261.969971,1333500,May,Thursday,2
2021-05-14,2291.830078,2321.139893,2283.320068,2316.159912,2316.159912,1331200,May,Friday,2
2021-05-17,2309.320068,2323.340088,2295.000000,2321.409912,2321.409912,992100,May,Monday,2
2021-05-18,2336.906006,2343.149902,2303.159912,2303.429932,2303.429932,865100,May,Tuesday,2
2021-05-19,2264.399902,2316.760010,2263.520020,2308.709961,2308.709961,967500,May,Wednesday,2
2021-05-20,2328.040039,2360.340088,2321.090088,2356.090088,2356.090088,1191600,May,Thursday,2
2021-05-21,2365.989990,2369.000000,2342.370117,2345.100098,2345.100098,1141600,May,Friday,2
2021-05-24,2367.000000,2418.479980,2360.110107,2406.669922,2406.669922,1062200,May,Monday,2
2021-05-25,2420.000000,2432.889893,2402.989990,2409.070068,2409.070068,941900,May,Tuesday,2
2021-05-26,2412.834961,2442.944092,2412.514893,2433.530029,2433.530029,1092800,May,Wednesday,2
2021-05-27,2436.939941,2440.000000,2402.000000,2402.510010,2402.510010,1948100,May,Thursday,2
2021-05-28,2421.959961,2428.139893,2407.689941,2411.560059,2411.560059,1205400,May,Friday,2
2021-06-01,2422.000000,2437.970947,2404.879883,2429.810059,2429.810059,958300,June,Tuesday,2
2021-06-02,2435.310059,2442.000000,2404.199951,2421.280029,2421.280029,857900,June,Wednesday,2
2021-06-03,2395.020020,2409.745117,2382.830078,2404.610107,2404.610107,917300,June,Thursday,2
2021-06-04,2422.520020,2453.858887,2417.770020,2451.760010,2451.760010,1297400,June,Friday,2
2021-06-07,2451.320068,2468.000000,2441.072998,2466.090088,2466.090088,1192500,June,Monday,2
2021-06-08,2479.899902,2494.495117,2468.239990,2482.850098,2482.850098,1253000,June,Tuesday,2
2021-06-09,2499.500000,2505.000000,2487.330078,2491.399902,2491.399902,1006300,June,Wednesday,2
2021-06-10,2494.010010,2523.260010,2494.000000,2521.600098,2521.600098,1561700,June,Thursday,2
2021-06-11,2524.919922,2526.989990,2498.290039,2513.929932,2513.929932,1262000,June,Friday,2
2021-06-14,2513.389893,2528.229980,2500.939941,2527.040039,2527.040039,1127500,June,Monday,2
2021-06-15,2530.439941,2537.239990,2512.969971,2520.659912,2520.659912,1109100,June,Tuesday,2
2021-06-16,2524.949951,2530.469971,2482.999023,2513.929932,2513.929932,1315800,June,Wednesday,2
2021-06-17,2510.459961,2543.929932,2510.300049,2527.419922,2527.419922,1287800,June,Thursday,2
2021-06-18,2514.110107,2527.780029,2492.060059,2511.350098,2511.350098,2665300,June,Friday,2
2021-06-21,2514.800049,2540.735107,2502.685059,2529.100098,2529.100098,1312800,June,Monday,2
2021-06-22,2529.000000,2545.399902,2520.530029,2539.989990,2539.989990,1049200,June,Tuesday,2
2021-06-23,2531.000000,2555.919922,2525.040039,2529.229980,2529.229980,984700,June,Wednesday,2
2021-06-24,2541.070068,2550.709961,2539.199951,2545.639893,2545.639893,946700,June,Thursday,2
2021-06-25,2539.139893,2550.100098,2528.879883,2539.899902,2539.899902,1674200,June,Friday,2
2021-06-28,2540.000000,2546.739990,2519.476074,2536.389893,2536.389893,1405500,June,Monday,2
2021-06-29,2535.449951,2540.000000,2508.739990,2520.370117,2520.370117,1047500,June,Tuesday,2
2021-06-30,2513.071045,2516.000000,2495.149902,2506.320068,2506.320068,1200300,June,Wednesday,2
2021-07-01,2496.995117,2529.250000,2496.995117,2527.370117,2527.370117,856000,July,Thursday,3
2021-07-02,2536.790039,2576.959961,2535.379883,2574.379883,2574.379883,1058000,July,Friday,3
2021-07-06,2588.989990,2597.689941,2568.179932,2595.419922,2595.419922,1067500,July,Tuesday,3
2021-07-07,2606.820068,2612.798096,2595.199951,2601.550049,2601.550049,834000,July,Wednesday,3
2021-07-08,2565.000000,2600.649902,2560.800049,2583.540039,2583.540039,989000,July,Thursday,3
2021-07-09,2578.889893,2596.989990,2578.870117,2591.489990,2591.489990,755300,July,Friday,3
2021-07-12,2596.669922,2615.399902,2592.000000,2611.280029,2611.280029,847200,July,Monday,3
2021-07-13,2617.629883,2640.840088,2612.739990,2619.889893,2619.889893,830900,July,Tuesday,3
2021-07-14,2638.030029,2659.919922,2637.959961,2641.649902,2641.649902,895600,July,Wednesday,3
2021-07-15,2650.000000,2651.899902,2611.959961,2625.330078,2625.330078,829300,July,Thursday,3

In [36]:
# fetch the info for a particular date every year  -> limitation of tiledelta
pd.date_range(start = '2005-1-6',end = '2022-1-6',freq=pd.DateOffset(years=1))

DatetimeIndex(['2005-01-06', '2006-01-06', '2007-01-06', '2008-01-06',
               '2009-01-06', '2010-01-06', '2011-01-06', '2012-01-06',
               '2013-01-06', '2014-01-06', '2015-01-06', '2016-01-06',
               '2017-01-06', '2018-01-06', '2019-01-06', '2020-01-06',
               '2021-01-06', '2022-01-06'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

In [38]:
google[google.index.isin(pd.date_range(start = '2005-1-6',end = '2022-1-6',freq=pd.DateOffset(years=1)))]

,Open,High,Low,Close,Adj Close,Volume,month,day,quarter
Date,,,,,,,,,
2005-01-06,97.175758,97.584229,93.509506,93.922951,93.922951,20852067,January,Thursday,1
2006-01-06,227.581970,234.371521,225.773743,231.960556,231.960556,35646914,January,Friday,1
2009-01-06,165.868286,169.763687,162.585587,166.406265,166.406265,12898566,January,Tuesday,1
2010-01-06,311.761444,311.761444,302.047852,302.994293,302.994293,7987226,January,Wednesday,1
2011-01-06,304.199799,308.060303,303.885956,305.604523,305.604523,4131026,January,Thursday,1
2012-01-06,328.344299,328.767700,323.681763,323.796326,323.796326,5405987,January,Friday,1
2014-01-06,554.426880,557.340942,551.154114,556.573853,556.573853,3551864,January,Monday,1
2015-01-06,513.589966,514.761719,499.678131,500.585632,500.585632,2899940,January,Tuesday,1
2016-01-06,730.000000,747.179993,728.919983,743.619995,743.619995,1947000,January,Wednesday,1
2017-01-06,795.260010,807.900024,792.203979,806.150024,806.150024,1640200,January,Friday,1
2020-01-06,1350.000000,1396.500000,1350.000000,1394.209961,1394.209961,1732300,January,Monday,1
2021-01-06,1702.630005,1748.000000,1699.000000,1735.290039,1735.290039,2602100,January,Wednesday,1
2022-01-06,2749.949951,2793.719971,2735.270020,2751.020020,2751.020020,1452500,January,Thursday,1